include nenupy/instru/NenuFAR_thph.fits
include nenupy/instru/squint_table.sav
include nenupy/instru/NenuFAR_Ant_Hpx.fits
include nenupy/instru/cal_pz_2_multi_2019-02-23.dat
include nenupy/skymodel/lfsky.fits
include nenupy/undysputed/bandpass_coeffs.dat
include nenupy/astro/radio_sources.json