include nenupy/beam/antenna/LSS_GRID_AG*.sav
include nenupy/beam/NenuFAR_thph.fits
include nenupy/beam/squint_table.sav
include nenupy/hpx/NenuFAR_Ant_Hpx.fits
include nenupy/hpx/NenuFAR_Ant_NEC4_Hpx.fits