include nenupy/telescopes.json
include nenupy/instru_old/cal_pz_2_multi_2019-02-23.dat
include nenupy/instru_old/squint_table.sav
include nenupy/skymodel/lfsky.fits
include nenupy/undysputed/bandpass_coeffs.dat
include nenupy/astro_old/radio_sources.json
include nenupy/observation/parset_user_options.json
include nenupy/instru/low_noise_amplifier.json
include nenupy/instru/nenufar_array.json
include nenupy/instru/miniarray_antennas.json
include nenupy/instru/squint_table.sav
include nenupy/instru/NenuFAR_Ant_Hpx.fits
